body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img {
	width:36%;
	margin:15px;
}

.image-left {
	float:left;
	margin-left:0;
}
.image-right {
	float:right;
	margin-right:0;
}